@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

/* Css Properties */
:root {
    --color-primary: #fa5b0f;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}

::selection {
    background-color: var(--color-primary);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #ffffff;
    background-color: #222222;
}

/* ///////////////////////// */
/* Header */
/* ///////////////////////// */
.header {
    min-height: 100vh;
    background-image:
        linear-gradient(to right bottom, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)),
        url('../images/header.jpg');
    background-size: cover;
}

/* Navbar */

.navbar {
    padding-top: 1.5rem;
    margin: 0 3rem;
}

.header .navbar-brand {
    font-size: 3rem;
    color: #ffffff;
    border: 2px solid var(--color-primary);
    border-radius: .2rem;
    padding: 0 1rem;
}


.header .nav-item .nav-link {
    text-transform: uppercase;
    padding: 1.7rem;
    color: #ffffff;
    font-weight: 400;
}

.header .navbar-nav .nav-link.active {
    color: var(--color-primary);
}

.header .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

.header .navbar-nav .nav-link:focus {
    color: var(--color-primary);
}



/* Main Box */
.main-box {
    margin: 15rem 0;
}

.image-box {
    margin-right: 1.5rem;
}

.image-box img {
    border-radius: 50%;
    max-width: 320px;
    border: 10px solid rgba(255, 255, 255, .1);

}

.text-box {

    margin: 1rem;
}

.text-box .txt-type>.txt {
    border-right: 0.2rem solid var(--color-primary);
}

.text-box h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem 0;
    letter-spacing: 1px;
}

.text-box h1 {
    font-size: 4.2rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .2rem
}


/* Global */
.colored-text {
    color: var(--color-primary);

}

.text-box p {
    margin-bottom: 1.8rem;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    font-weight: 400;
}

.btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffffff;
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem 2.8rem;

    border-radius: 4rem;
    overflow: hidden;
    position: relative;
}

.btn i {
    margin-right: .7rem;
}

.btn:hover {
    color: #ffffff;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn.primary {
    background-color: var(--color-primary);
    position: relative;
    border: transparent;
}

.btn.primary::before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    left: -10%;
    width: 0%;
    background-color: #555;
    transform: skew(-22deg);
    transition-duration: .8s;

}

.btn.primary:hover::before {
    width: 130%;
}

/* button secondary */

.btn.secondary {
    background-color: transparent;
    position: relative;
    border: 1px solid var(--color-primary);
    padding: .9rem 2.8rem;
}

.btn.secondary::before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    right: -10%;
    width: 0%;
    background-color: var(--color-primary);
    transform: skew(-22deg);
    transition-duration: .4s;

}

.btn.secondary:hover::before {
    width: 130%;
}

/* About Section */
#about {
    background-color: #222222;
    padding: 5rem 0;
}

#about .d-flex {
    margin-top: 5rem;
}

.large-heading {
    text-transform: uppercase;
    font-size: 5.5rem;
    text-align: center;
}

.title-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0;
    position: relative;
    display: block;
}

.title-heading::before {
    position: absolute;
    content: "";
    height: 2px;
    left: 29rem;
    top: 11px;
    width: 30px;
    background-color: var(--color-primary);
}

.title-heading::after {
    position: absolute;
    content: "";
    height: 2px;
    right: 29rem;
    top: 11px;
    width: 30px;
    background-color: var(--color-primary);
}

.my-image {
    position: relative;
    width: 42rem;
}

.my-image::before {
    position: absolute;
    content: '';
    top: 3rem;
    right: -3rem;
    border: .6rem solid var(--color-primary);
    height: 100%;
    width: 100%;
}

.my-image img {
    height: 44rem;
    display: block;
    position: relative;
    height: 35rem;
    width: 35rem;
}

.info-box {
    margin-left: 3rem;
}

.info-box>div {
    width: 50rem;
}

.info-box p {
    font-size: 1.5rem;
    font-family: "Open Sans";
}

.info-box span {
    color: lightgray;
    margin-left: .5rem;
}

.experience {
    margin-top: 10rem;
}

.title-section {
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.resume-items .card {
    background-color: transparent;
    border: none;
    font-family: "Raleway";
}

.card-header {
    border-bottom: none !important;
}

.card-body {
    border: none;
}

.card-header i {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.card-header .separator {
    display: inline-block;
    width: 10px;
    background: #555;
    height: 2px;
    margin: 0 7px 3px 7px;
    vertical-align: middle;
}

.item h2 {
    color: rgb(172, 172, 172);
    margin-bottom: -1rem;
}

.item h2 .inst {
    color: #ffffff;
}

.item {
    border-left: 1px solid var(--color-primary);
    padding-left: 1rem;
}


/* Portfolio Section */
#portfolio {
    padding-bottom: 5rem;
}

#portfolio .title-heading::before {
    left: 31rem;
}

#portfolio .title-heading::after {
    right: 31rem;
}

.projects {
    margin-top: 5rem;
}

.project-item {
    position: relative;
    margin: 1.6rem 0;
}

.project-item img {
    border-radius: 1rem;
    filter: grayscale(50%);
}

.project-name p {
    color: var(--color-primary);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    font-style: italic;
    background-color: #22222218;
    border-radius: 1rem;
    padding: 0 1rem;
}

.overlay {
    position: absolute;
    border-radius: 1rem;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--color-primary);
    overflow: hidden;
}

.project-item:hover .overlay {
    opacity: 1;
}


.projects .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Raleway";
}

.projects .text a {
    cursor: pointer;
    border: 1px solid #222222;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin: .5rem 0;
    font-size: 1.5rem;
}

.more-projects {
    margin: 1rem 45.5rem;
}



/* Contact section */

#contact {
    margin-bottom: 5rem;
}


#contact .title-heading::before {
    left: 42rem;
}

#contact .title-heading::after {
    right: 42rem;
}

#contact .row {
    margin-top: 5rem;

    background: linear-gradient(105deg, rgba(21, 31, 32, 1) 0%, rgba(21, 31, 32, .95) 50%,
            transparent 30%), url(../images/form-img.jpeg) center center no-repeat;
    background-size: cover;
    padding: 5rem 0;
}

#contact .col-lg-4 {
    margin: 0 6rem;
}

#contact .btn {
    margin-top: 4rem;
}

#contact input {
    background-color: transparent;
    border-color: transparent;
    height: 3.5rem;
    font-size: 1.6rem;
    border-bottom: 2px solid var(--color-primary);
    border-radius: 0;
    transition: all .8s;
}

#contact input:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: white;
    border-bottom: 2px solid gray;

}

.label {
    color: #777777;
    display: block;
    margin-top: -8rem;
    margin-left: 6px;
    font-size: 1.3rem;
    transition: all .3s;
}

input:placeholder-shown+label {
    transform: translate(20px, 20px);
    opacity: 0;
    visibility: hidden;
}

/* ///////////////// */
/* Media Queries */
/* ///////////////// */

@media screen and (max-width: 1194px) {
    .title-heading::before {
        display: none;
    }

    .title-heading::after {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    html {
        font-size: 55%;
    }

    .main-box {
        margin-top: 2rem;
        padding-bottom: 5rem;
    }

    .image-box {
        margin-right: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;

    }

    .image-box img {
        border-radius: 50%;
        max-width: 320px;
        border: 10px solid rgba(255, 255, 255, .1);

    }

    .text-box {
        margin: 1rem;
        text-align: center;
    }



    #about {
        /* margin-top: -19rem; */
        text-align: center;
    }

    .my-image {
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .info-box {
        margin: 0 auto;
        /* margin-left: 10rem; */
    }

    .resume-items {
        text-align: left;
    }

    #contact .row {


        background: linear-gradient(105deg, rgba(21, 31, 32, 1), rgba(21, 31, 32, .95));

    }
}

@media screen and (max-width: 700px) {
    .projects {
        margin: 0 auto;
    }
}