@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

/* Css Properties */
:root {
    --color-primary: rgb(290, 91, 15);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}

::selection {}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #ffffff;
}

/* ///////////////////////// */
/* Header */
/* ///////////////////////// */
.header {
    min-height: 100vh;
    background-image:
        linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url('../images/header.jpg');
    background-size: cover;
}

/* Navbar */

.navbar {
    padding-top: 1.5rem;
    margin: 0 3rem;
}

.header .navbar-brand {
    font-size: 3rem;
    color: #ffffff;
    border: 2px solid orangered;
    border-radius: .2rem;
    padding: 0 1rem;
}


.header .nav-item .nav-link {
    text-transform: uppercase;
    padding: 1.7rem;
    color: #ffffff;
    font-weight: 400;
}

.header .navbar-nav .nav-link.active {
    color: var(--color-primary);
}

.header .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

.header .navbar-nav .nav-link:focus {
    color: var(--color-primary);
}



/* Main Box */
.main-box {
    margin-top: 10rem;
}

.image-box {
    margin-right: 1.5rem;
}

.image-box img {
    border-radius: 50%;
    max-width: 320px;
    border: 10px solid rgba(255, 255, 255, .1);

}

.text-box {
    margin: 1rem;
}

.text-box .txt-type > .txt {
    border-right: 0.2rem solid var(--color-primary);
  }

.text-box h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem 0;
    letter-spacing: 1px;
}

.text-box h1 {
    font-size: 4.2rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .3rem;
    
}


/* Global */
.colored-text {
    color: var(--color-primary);
    
}
.text-box p {
    margin-bottom: 1.8rem;
    font-family: "Open Sans";
    text-align: justify;
    font-weight: 400;
}

.btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffffff;
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem 2.8rem;

    border-radius: 4rem;
    overflow: hidden;
    position: relative;
}
.btn i {
    margin-right: .7rem;
}

.btn:hover {
    color: #ffffff;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn.primary {
    background-color: var(--color-primary);
    position: relative;
    border: transparent;
}

.btn.primary::before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    left: -10%;
    width: 0%;
    background-color: #555;
    transform: skew(-22deg);
    transition-duration: .8s;

}

.btn.primary:hover::before {
    width: 130%;
}

/* button secondary */

.btn.secondary {
    background-color: transparent;
    position: relative;
    border: 1px solid var(--color-primary);
}

.btn.secondary::before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    right: -10%;
    width: 0%;
    background-color: var(--color-primary);
    transform: skew(-22deg);
    transition-duration: .4s;

}

.btn.secondary:hover::before {
    width: 130%;
}




/* ///////////////// */
/* Media Queries */
/* ///////////////// */

@media screen and (max-width: 990px) {
    html {
        font-size: 55%;
    }
    .main-box {
        margin-top: 2rem;
    }
    .image-box {
        margin-right: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;

    }
    
    .image-box img {
        border-radius: 50%;
        max-width: 320px;
        border: 10px solid rgba(255, 255, 255, .1);
    
    }
    
    .text-box {
        margin: 1rem;
        text-align: center;
    }
}


@media screen and (max-width: 700px) {
    html {
        font-size: 45%;
    }
    
    
}