@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

/* Css Properties */
:root {
    --color-primary: #fa5b0f;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}

::selection {
    background-color: var(--color-primary);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #ffffff;
    background-color: #222222;
}

/* ///////////////////////// */
/* Header */
/* ///////////////////////// */
.header {
    min-height: 100vh;
    background-image:
        linear-gradient(to right bottom, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)),
        url('../images/header.jpg');
    background-size: cover;
}

/* Navbar */

.navbar {
    padding: 0 3rem;
    transition: all .4s;
}

.header .navbar-brand {
    font-size: 3rem;
    color: #ffffff;
    /* border-bottom: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-radius: 0px 0px 0px 3rem; */
    padding: 0 1rem;
}


.header .nav-item .nav-link {
    text-transform: uppercase;
    padding: 1.7rem;
    color: #ffffff;
    font-weight: 400;
}

.header .navbar-nav .nav-link.active {
    color: var(--color-primary);
}

.header .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

.header .navbar-nav .nav-link:focus {
    color: var(--color-primary);
}

.custom-navbar {
    background-color: rgba(0, 0, 0, 0.288);
    padding: .3rem 3rem;
}

.nav-button {
    border: 1px solid gray;
    box-shadow: transparent;
}

.nav-button:focus {
    border: 1px solid gray;

    outline: transparent;
    box-shadow: transparent;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}


.line1,
.line2,
.line3 {
    width: 2.3rem;
    height: .3rem;
    margin: .5rem;
    transition: all .4s;
}


/* Main Box */
.main-box {
    padding: 22rem 0 0 0;
}

.image-box {
    margin-right: 1.5rem;
}

.image-box img {
    border-radius: 50%;
    max-width: 320px;
    border: 10px solid rgba(255, 255, 255, .1);

}

.text-box {

    margin: 1rem;
}

.text-box .txt-type>.txt {
    border-right: 0.2rem solid var(--color-primary);
}

.text-box h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem 0;
    letter-spacing: 1px;
}

.text-box h1 {
    font-size: 4.2rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .2rem
}


/* Global */
.colored-text {
    color: var(--color-primary);

}

.text-box p {
    margin-bottom: 1.8rem;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    font-weight: 400;
}

.btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffffff;
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem 2.8rem;

    border-radius: 4rem;
    overflow: hidden;
    position: relative;
}

.btn i {
    margin-right: .7rem;
}

.btn:hover {
    color: #ffffff;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn.primary {
    background-color: var(--color-primary);
    position: relative;
    border: transparent;
}

.btn.primary::before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    left: -10%;
    width: 0%;
    background-color: #555;
    transform: skew(-22deg);
    transition-duration: .8s;

}

.btn.primary:hover::before {
    width: 130%;
}

/* button secondary */

.btn.secondary {
    background-color: transparent;
    position: relative;
    border: 1px solid var(--color-primary);
    padding: .9rem 2.8rem;
}

.btn.secondary::before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    right: -10%;
    width: 0%;
    background-color: var(--color-primary);
    transform: skew(-22deg);
    transition-duration: .4s;

}

.btn.secondary:hover::before {
    width: 130%;
}

/* About Section */
#about {
    background-color: #222222;
    padding: 2rem 0 5rem 0;
}

#about .d-flex {
    margin-top: 5rem;
}

.large-heading {
    text-transform: uppercase;
    font-size: 5.5rem;
    text-align: center;
}

.title-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0;
    position: relative;
    display: block;
}

.title-heading::before {
    position: absolute;
    content: "";
    height: 2px;
    left: 29rem;
    top: 11px;
    width: 30px;
    background-color: var(--color-primary);
}

.title-heading::after {
    position: absolute;
    content: "";
    height: 2px;
    right: 29rem;
    top: 11px;
    width: 30px;
    background-color: var(--color-primary);
}

.my-image {
    position: relative;
    width: 35rem;
}

.my-image::before {
    position: absolute;
    content: '';
    top: 3rem;
    right: -3rem;
    border: .6rem solid var(--color-primary);
    height: 100%;
    width: 100%;
}

.my-image img {
    height: 44rem;
    display: block;
    position: relative;
    height: 35rem;
    width: 35rem;
}

.info-box {
    margin-left: 3rem;
}

.info-box>div {
    width: 50rem;
}

.info-box p {
    font-size: 1.5rem;
    font-family: "Open Sans";
}

.info-box span {
    color: lightgray;
    margin-left: .5rem;
}

.experience {
    margin-top: 4rem;
}

.title-section {
    text-transform: uppercase;
    font-size: 2.7rem;
    margin: 3rem 0;
}

.resume-items .card {
    background-color: transparent;
    border: none;
    font-family: "Raleway";
}

.card-header {
    border-bottom: none !important;
}

.card-body {
    border: none;
}

.card-header i {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.card-header .separator {
    display: inline-block;
    width: 10px;
    background: #555;
    height: 2px;
    margin: 0 7px 3px 7px;
    vertical-align: middle;
}

.item h2 {
    color: rgb(172, 172, 172);
    margin-bottom: -1rem;
}

.item h2 .inst {
    color: #ffffff;
}

.item {
    border-left: 1px solid var(--color-primary);
    padding-left: 1rem;
}

/* Skill  */
.bar {
    margin: 1.2rem 0;
}

.fill {
    height: 1.2rem;
    background-color: var(--color-primary);
    border-radius: 1px;
    display: inline-block;
}

#html {
    width: 80%;
    animation: html 2s ease-out;
    /* animation-delay: 1s; */
}

#css {
    width: 60%;
    animation: css 2s ease-out;
    /* animation-delay: 1s; */
}

#python {
    width: 50%;
    animation: python 2s ease-out;
    /* animation-delay: 1s; */
}

#javascript {
    width: 30%;
    animation: javascript 2s ease-out;
    /* animation-delay: 1s; */
}

#react {
    width: 30%;
    animation: react 2s ease-out;
    /* animation-delay: 1s; */
}

#django {
    width: 55%;
    animation: django 2s ease-out;
    /* animation-delay: 1s; */
}

@keyframes html {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes css {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes python {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes javascript {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@keyframes react {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@keyframes django {
    0% {
        width: 0;
    }

    100% {
        width: 55%;
    }
}

/* Portfolio Section */
#portfolio {
    padding-bottom: 5rem;
}

#portfolio .title-heading::before {
    left: 49rem;
}

#portfolio .title-heading::after {
    right: 49rem;
}

.project-list-item {
    color: #777777;
    cursor: pointer;
    user-select: none;

}

.list-inline {
    transition: all .5s;
}

.active-item {
    color: var(--color-primary);
}

.filter {
    position: relative;

}

.img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;

    transition: all .3s;
}

.heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background: #222222;
    width: 60%;
    cursor: pointer;
    opacity: 0.9;
    font-family: "Raleway", sans-serif;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.heading:hover {
    opacity: 1;
    text-decoration: none;
}

.img-overlay:hover {
    background-color: #22222279;
}

/* Contact section */

#contact {
    margin-bottom: 1.9rem;
}

#contact .title-heading {
    margin-bottom: -2rem;
}

#contact .title-heading::before {
    left: 55rem;
}

#contact .title-heading::after {
    right: 55rem;
}

#contact .row {
    margin-top: 5rem;

    background: linear-gradient(105deg, rgba(21, 31, 32, 1) 0%, rgba(21, 31, 32, .95) 50%,
            transparent 30%), url(../images/form-img.jpeg) center center no-repeat;
    background-size: cover;
    padding: 5rem 0;
}

/* #contact .col-lg-4 {
    margin: 0 6rem;
} */

#contact .btn {
    margin-top: 4rem;
}

.contact-form {
    margin: 0 4rem;
}

#contact input {
    background-color: transparent;
    border-color: transparent;
    height: 3.5rem;
    font-size: 1.6rem;
    border-bottom: 2px solid var(--color-primary);
    border-radius: 0;
    transition: all .3s;
}

#contact input:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: white;
    border-bottom: 2px solid gray;

}

.label {
    color: #777777;
    display: block;
    margin-top: -8rem;
    margin-left: 6px;
    font-size: 1.3rem;
    transition: all .3s;
}

input:placeholder-shown+label {
    transform: translate(20px, 20px);
    opacity: 0;
    visibility: hidden;
}


/* Footer */
footer {
    text-align: center;
    font-size: 1.4rem;
    color: lightgray;
    margin-bottom: 2rem;
}

.name {
    color: var(--color-primary);
    text-decoration: none;
    display: inline-block;

    transition: all .2s;
}

.name:hover {
    box-shadow: 0 1rem 2rem rgba(255, 68, 0, 0.349);
    transform: rotate(5deg) scale(1.1);
    padding: 0 1rem;
    background-image: linear-gradient(45deg, var(--color-primary), var(--color-primary));
    color: white;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}


/* Scroll Top */

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-primary);
    cursor: pointer;
    padding: 15px;
}

.sent-alert {
    position: absolute;
    top: -20px;
    left: 5.7rem;
    background-color: #fa5b0f;
    text-align: center;
    padding: .8rem 1.5rem;
    border-radius: 2px;
}


#contact row {
    position: relative;
}

/* ///////////////// */
/* Media Queries */
/* ///////////////// */

@media screen and (max-width: 1194px) {
    .title-heading::before {
        display: none;
    }

    .title-heading::after {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    html {
        font-size: 55%;
    }

    .main-box {
        padding-top: 2rem;
        padding-bottom: 5rem;
    }

    .image-box {
        margin-right: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;

    }

    .image-box img {
        border-radius: 50%;
        max-width: 320px;
        border: 10px solid rgba(255, 255, 255, .1);

    }

    .text-box {
        margin: 1rem;
        text-align: center;
    }



    #about {
        /* margin-top: -19rem; */
        text-align: center;
    }

    .my-image {
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .info-box {
        margin: 0 auto;
        /* margin-left: 10rem; */
    }

    .resume-items {
        text-align: left;
    }

    #contact .row {


        background: linear-gradient(105deg, rgba(21, 31, 32, 1), rgba(21, 31, 32, .95));

    }
}

@media screen and (max-width: 700px) {

    .header {
        min-height: 90vh;
    }

    .text-box h1 {
        font-size: 3rem;
        letter-spacing: 0;
    }

    .text-box h3 {
        font-size: 1.6rem;
        letter-spacing: 0;
    }

    .contact-form {
        margin: 0 2rem;
    }

    .projects {
        margin: 0 auto;
    }

    .my-image {
        border: 6px solid var(--color-primary);

    }

    .my-image::before {
        display: none;

    }

    /* Scroll Top */

    #topBtn {
        bottom: 20px;
        right: 0;
    }
}